name: NuGet

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
  
env:
  Major: 6
  Minor: 0
  Patch: 3

jobs:
  Create:

    runs-on: windows-latest

    steps:
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.x.x'

    - uses: actions/checkout@v3
    
    - name: Restore dependencies
      run: dotnet restore

    - name: Set Prerelease version tag
      id: set-prerelease-version-tag
      shell: pwsh
      run: |
        ($versionTag = $env:GITHUB_REF_NAME -eq 'main' ? 'preview' : "beta.$(($branchNameSegments = $env:GITHUB_REF_NAME.Split('/'))[$branchNameSegments.Length - 1].ToLower() -replace '[^a-z]')") && ($versionTag = $versionTag.Length -lt 55 ? $versionTag : $versionTag.Substring(0, 50)) && echo "VERSIONTAG=$versionTag" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
      if: ${{ github.ref_name != 'main' || github.event_name != 'workflow_dispatch' }}

    - name: Pack Release
      run: dotnet pack --no-restore -p:VersionPrefix=${{ env.Major }}.${{ env.Minor }}.${{ env.Patch }} -p:ContinuousIntegrationBuild=true -o ./packages/
      if: ${{ github.ref_name == 'main' && github.event_name == 'workflow_dispatch' }}
    
    - name: Pack Prerelease
      env:
        VERSIONTAG: ${{ steps.set-prerelease-version-tag.outputs.VERSIONTAG }}
      run: dotnet pack --no-restore -p:VersionPrefix=${{ env.Major }}.${{ env.Minor }}.${{ env.Patch }} -p:VersionSuffix=${{ env.VERSIONTAG }}.${{ github.run_number }} -p:ContinuousIntegrationBuild=true -o ./packages/
      if: ${{ github.ref_name != 'main' || github.event_name != 'workflow_dispatch' }}
      
    - name: Push
      working-directory: packages
      run: dotnet nuget push *.nupkg --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json
